html {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 350px;
    height: 625px;
}

.photo-desktop {
    display: none;
}

.photo-desktop > img {
   display: none;
   position: absolute;
}

.photo-mobile > img {
    width: 350px;
    border-radius: 20px 20px 0 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    max-width: 90%;
}

.info > h2 {
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    letter-spacing: 10px;
}

.info > h1 {
    font-family: 'Fraunces', serif;
    margin: 0;
    font-weight: 700;
}

#description {
 color: hsl(228, 12%, 48%);
 font-weight: 500;
 margin-bottom: 0;
}

#sale-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
}

#reg-price {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    text-decoration: line-through;
    margin-top: 0;
}

#button {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin: 
}

button:hover {
    background-color: hsl(159, 35%, 25%);
    cursor: pointer;
}

button > img {
    margin: 0 5px 0 0;
}


.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 15px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

